.cart-wrapper {
    width: 100%;
    max-width: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

.cart-left {
    flex: 1;
    background-color: teal;
    position: sticky;
    border-radius: 10px;
    top: 12px;
    height: max-content;
    
}

.cart-right {
    flex:3;
    
}